<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--
<div class="container">
  <h1>{{name}}'s angular project</h1>
  <hr>
</div>
-->
<!--
<div class="container">
  <app-welcome></app-welcome>
</div>
-->

<!-- <app-login></app-login> -->

<app-menu></app-menu>

<div class="container">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
